<h1>Listing contact_infos</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Address 1</th>
      <th>Address 2</th>
      <th>Suburb</th>
      <th>Postcode</th>
      <th>Country</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Linkedin</th>
      <th>Twitter</th>
      <th>Blog</th>
      <th>Profile pic</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contact_infos.each do |contact_info| %>
      <tr>
        <td><%= contact_info.first_name %></td>
        <td><%= contact_info.last_name %></td>
        <td><%= contact_info.address_1 %></td>
        <td><%= contact_info.address_2 %></td>
        <td><%= contact_info.suburb %></td>
        <td><%= contact_info.postcode %></td>
        <td><%= contact_info.country %></td>
        <td><%= contact_info.email %></td>
        <td><%= contact_info.phone %></td>
        <td><%= contact_info.linkedin %></td>
        <td><%= contact_info.twitter %></td>
        <td><%= contact_info.blog %></td>
        <td><%= contact_info.profile_pic %></td>
        <td><%= link_to 'Show', contact_info %></td>
        <td><%= link_to 'Edit', edit_contact_info_path(contact_info) %></td>
        <td><%= link_to 'Destroy', contact_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact info', new_contact_info_path %>
