<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @contact_info.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contact_info.last_name %>
</p>

<p>
  <strong>Address 1:</strong>
  <%= @contact_info.address_1 %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @contact_info.address_2 %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @contact_info.suburb %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @contact_info.postcode %>
</p>

<p>
  <strong>Country:</strong>
  <%= @contact_info.country %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact_info.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact_info.phone %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @contact_info.linkedin %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @contact_info.twitter %>
</p>

<p>
  <strong>Blog:</strong>
  <%= @contact_info.blog %>
</p>

<p>
  <strong>Profile pic:</strong>
  <%= @contact_info.profile_pic %>
</p>

<%= link_to 'Edit', edit_contact_info_path(@contact_info) %> |
<%= link_to 'Back', contact_infos_path %>
