<%= simple_form_for(@job) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  <br>
  <br>
  
    <%= f.input :company %>
    <%= f.input :website %>
    <%= f.input :start_date as: :date, start_year: Date.today.year - 50 %>
    <%= f.input :end_date as: :date, start_year: Date.today.year - 50 %>
    <%= f.input :position %>
    <%= f.input :summary %>
    <br>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
