<br>
<br>
<br>
<br>
<br>





 <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          
        <% if @contact_info %>
            <%= image_tag @contact_info.profile_pic, width: '200px', height: '200px', class: "img-circle", alt: "Profile picture" %>

          <h2>Heading</h2>
          <p>text here</p>

          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->


        <div class="col-lg-4">

            <%= image_tag "placeholder1.jpg", width: '200px', class: "img-circle", alt: "Placeholder Image" %>
          <h2>Heading</h2>
          <p>text here</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->


        <div class="col-lg-4">
         <%= image_tag "placeholder1.jpg", width: '200px', class: "img-circle", alt: "Placeholder Image" %>
          <h2>Heading</h2>
          <p>text here</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->





<% if user_signed_in? %>
    <button type="button"><%= link_to "Edit my info", admin_index_path(@admin_index) %></button>
<% end %>

<br>


<% if @jobs %>
    <h2>Work history</h2>
    <% @jobs.each do |job| %>
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="panel-title"><h3><%= job.position %> at <u><%= link_to job.company, job.website, target: "_blank" %></u></h3></p>
            </div>
            <div class="panel-body">
                <p><strong><%= job.start_date.strftime('%e %h %Y') %> to <%= job.end_date.strftime('%e %h %Y') %></strong></p>
                <p><%= job.summary.html_safe %></p>
            </div>
        </div>
    <% end %>
<% end %>
  <% else %>
      <%= link_to 'Create your profile', new_contact_info_path %>
    <% end %>


<% if @references %>
	<h2>References</h2>
	<% @references.each do |reference| %>
		<div class="panel panel-default">
			<div class="panel-heading">
				<p class="panel-title"><h3><%= reference.referee_name %></h3></p>
			</div>
			<div class="panel-body">
				<p><strong><%=	reference.referee_position %> at <%= reference.comany %></strong></p>
				<p><strong>Years Known:</strong><%= reference.years_known %></p>
                
                <a href="tel:<%= reference.phone %>", class= 'btn btn-lg btn-warning'>
                    <i class="fa fa-phone-square fa-lg"></i>
                    </a>            
                
                <%= mail_to reference.phone, target: "_blank", class: 'btn btn-lg btn-warning' do %>
                   <i class="fa fa-envelope fa-lg"></i>
                    <% end %>            
                
                <% if !reference.linkedin.blank? %>
                    <%= link_to reference.linkedin, target: "_blank", class: 'btn btn-lg btn-warning' do %>
                    <i class="fa fa-linkedin-square fa-lg"></i>
                    <% end %>    
                <% end %>            

			</div>
		</div>
	<% end %>
<% end %>					